body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAYt4VNdIxem1ug8MrzOnbrj9uO0P265mKtZqO3DfqPZ7TQkkx&s);
}

h1 { text-align: center;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

ul {
       text-align: center;
      background-color: peru;
      padding: 20px;
      word-spacing:90px;
      
}
ul li {
    display: inline;
}


  p {
    font-family: Georgia, 'Times New Roman', Times, serif ;
    padding:20px;
}
footer {
    text-align: center;
    background-color: peru;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .sa {
      text-align: center;
      padding: 20px;
  }
  ol {
      padding: 0px 0px 30px 50px;
      font-style: italic;
      font-size: xx-large;
      font-style: oblique;
      font-style: bold;

  }
  

  #fishies {
    float: right;    
             margin: 0px 10px 10px 10px; 
             padding: 10px;
             margin: 30px;
            
  }
  #n {
      background-color: peru;
  }
 .ul {
    padding: 0px 0px 30px 50px;
      font-style: italic;
      font-size: xx-large;
      font-style: bold;
  }


     #m { float: right; 
            margin: 40px;
        } 

        #column1of3  { 
            width: 300px;
             float: right; 
            padding-bottom: 10px;
            }

            #w { float: right; 
                margin: 50px;
            } 
    #ss {
        padding: 0px 0px 30px 50px;
        font-style: italic;
        font-size: xx-large;
        font-style: oblique;
        font-style: bold;
        text-align: center;
    
    }

    
    

    

  

